body {
    width: 100%;
}

.page {
    margin: 0 10%;
}

.page img {
    max-width: 80%;
    height: auto;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}
