@font-face {
    font-family: "IosevkaTerm";
    src: url("./assets/fonts/IosevkaTermNerdFont-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monospace-Krypton";
    src: url("./assets/fonts/MonaspaceKryptonNF-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark-accent: #e6b450;
    --dark-bg: #0b0e14;
    --dark-fg: #bfbdb6;
    --dark-ui: #565b66;

    --dark-red-1: #f07178;
    --dark-red-2: #d95757;
    --dark-orange-1: #ffb454;
    --dark-orange-2: #ff8f40;
    --dark-orange-3: #f29668;
    --dark-yellow-1: #e6b673;
    --dark-blue-1: #39bae6;
    --dark-blue-2: #59c2ff;
    --dark-green-1: #aad94c;
    --dark-green-2: #95e6cb;
    --dark-gray-1: #707a8c;
    --dark-purple-1: #d2a6ff;

    --mirage-accent: #ffcc66;
    --mirage-bg: #1f2430;
    --mirage-fg: #cccac2;
    --mirage-ui: #707a8c;

    --mirage-red-1: #f28779;
    --mirage-red-2: #ff6666;
    --mirage-orange-1: #ffd173;
    --mirage-orange-2: #ffad66;
    --mirage-orange-3: #f29e74;
    --mirage-yellow-1: #ffdfb3;
    --mirage-blue-1: #5ccfe6;
    --mirage-blue-2: #73d0ff;
    --mirage-green-1: #d5ff80;
    --mirage-green-2: #95e6cb;
    --mirage-gray-1: #6c7a8b;
    --mirage-purple-1: #dfbfff;

    --bg-body: var(--dark-bg);
    --border-board: var(--dark-orange-1);
    --bg-board: var(--mirage-bg);
    --fg: var(--mirage-fg);
    --bg-tablink: var(--dark-bg);
    --bg-tablink-hover: var(--dark-gray-1);
    --bg-tablink-active: var(--dark-blue-1);
    --fg-link-hover: var(--dark-purple-1);
    --fg-blog-h1: var(--dark-red-1);
    --fg-blog-h2: var(--dark-orange-1);
    --fg-blog-hx: var(--dark-orange-2);
    --fg-blog-seperator: var(--dark-green-2);
    --fg-blog-code: black;
    --bg-blog-code-1: var(--dark-green-2);
    --bg-blog-code-2: var(--dark-bg);
    --fg-blog-strong: white;
    --bg-blog-button: var(--mirage-blue-1);
}

* {
    box-sizing: border-box;
    font-family: "Monospace-Krypton", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-body);
}

.menu {
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 77%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--border-board);
    overflow: hidden;
    background-color: var(--bg-board);
    text-align: center;
}

.menu .tab-link {
    padding: 15px 8px;
    border: none;
    background-color: var(--bg-tablink);
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    color: var(--fg);
}

.menu .tab-link:hover {
    background-color: var(--bg-tablink-hover);
}

.menu .tab-link.active {
    background-color: var(--bg-tablink-active);
}

.reserved {
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 77%;
    right: 2%;
    border: 1px solid var(--border-board);
    background-color: var(--bg-board);
}

.page {
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 25%;
    right: 25%;
    overflow: auto;
    border: 1px solid var(--border-board);
    background-color: var(--bg-board);
    color: var(--fg);
}

/* hide page scroll bar - begin */
.page {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.page::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.page::-webkit-scrollbar-track,
.page::-webkit-scrollbar-thumb {
    background: transparent;
}
/* hide page scroll bar - end */

.page .tab-content {
    padding: 3px 12px;
    padding-bottom: 20px;
}

#blog-list a {
    color: var(--fg);
}

#blog-list a:hover {
    color: var(--fg-link-hover);
}

#blog-detail {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 16px;
    line-height: 1.8;
}

#blog-detail h1 {
    color: var(--fg-blog-h1);
}
#blog-detail h2 {
    color: var(--fg-blog-h2);
}
#blog-detail h3, #blog-detail h4 {
    color: var(--fg-blog-hx);
}
#blog-detail h2, #blog-detail h3, #blog-detail h4 {
    border-bottom: 1px dashed var(--fg-blog-seperator);
}

#blog-detail p {
    color: var(--fg);
}

#blog-detail pre {
    background-color: var(--bg-blog-code-2);
    border-radius: 4px;
    overflow-x: auto;
    border-left: 3px solid var(--fg-blog-seperator);
    padding: 4px 4px 4px 16px;
}
#blog-detail code {
    color: var(--fg-blog-code);
    background-color: var(--bg-blog-code-1);
    border-radius: 2px;
    padding: 4px 4px;
}
#blog-detail pre code {
    background: transparent;
    color: var(--fg);
    line-height: 1.5;
}

#blog-detail strong {
    color: var(--fg-blog-strong);
}

#blog-detail ul, #blog-detail ol {
}

#blog-detail li {
}

#blog-detail a {
    color: var(--fg);
    text-decoration: underline;
}

#blog-detail a:hover {
    color: var(--fg-link-hover);
}

#blog-detail img {
    max-width: 80%;
    height: auto;
    margin: 10px auto;
    display: block;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

#blog-detail button {
    background-color: var(--bg-blog-button);
    border: none;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

#blog-detail .toc {
    background-color: var(--bg-body);
    border-radius: 10px;
    padding: 4px 4px;
}
#blog-detail .toc a {
    text-decoration: none;
}

