:root {
  --black1: #161617;
  --black2: #131314;
  --black3: #1b1b1d;
  --black4: #2a2a2d;
  --black5: #3e3e43;

  --gray1: #57575f;
  --gray2: #757581;
  --gray3: #9998a8;
  --gray4: #c1c0d4;
  --gray5: #c9c7cd;

  --purple1: #aca1cf;
  --purple2: #e29eca;
  --purple3: #ea83a5;

  --orange1: #f5a191;
  --orange2: #e6b99d;
  --orange3: #f5a191;

  --green1: #90b99f;
  --green2: #85b5ba;
}
