@import "theme.css";

#post-list {
  padding: 0;
}

#post-list li {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

#post-list a {
  text-decoration: underline;
  color: var(--color-link);
  font-size: 0.9rem;
}

#post-list a:hover {
  color: var(--color-link-hover);
}

