@import "theme.css";

#posts {
  padding: 0;
}

#posts li {
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

#posts a {
  text-decoration: underline;
  color: var(--color-link);
  font-size: 0.9rem;
}

#posts a:hover {
  background-color: var(--color-link-hover);
  color: var(--color-text-inverse);
}

