:root {
  /* ============================================
   * Palette
   * ============================================ */
  --white1: #E4F0FB;
  --white2: #d8dee9;
  --white3: #FFFFFF;
  --black1: #303340;
  --black2: #1B1E28;
  --black3: #171922;
  --yellow1: #FFFAC2;
  --yellow2: #ebcb8b;
  --green1: #5DE4C7;
  --green2: #5FB3A1;
  --green3: #42675A;
  --blue1: #89DDFF;
  --blue2: #ADD7FF;
  --blue3: #91B4D5;
  --blue4: #7390AA;
  --blue5: #506477;
  --purple1: #A6ACCD;
  --purple2: #767C9D;
  --pink1: #FAE4FC;
  --pink2: #FCC5E9;
  --pink3: #D0679D;
  --red1: #bf616a;
  --red2: #d08770;

  /* ============================================
   * Global Basic Style
   * ============================================ */
  --color-body-bg: var(--blue5);
  --color-selection-bg: var(--yellow1);
  --color-text-primary: var(--white1);
  --color-text-secondary: var(--white3);
  --color-text-inverse: var(--black3);
  --color-scrollbar-track: transparent;
  --color-scrollbar-thumb: var(--black2);
  --color-scrollbar-thumb-hover: var(--pink3);

  /* ============================================
   * Layout Component
   * ============================================ */
  --color-header-bg: var(--black2);
  --color-footer-bg: var(--black2);
  --color-container-bg: var(--black1);
  --color-container-border: var(--white1);
  --color-seperator: var(--green2);
  --color-info-box-bg: var(--purple2);
  --color-card-bg: var(--black3);

  /* ============================================
   * Interactive Component
   * ============================================ */
  --color-link: var(--blue2);
  --color-link-hover: var(--green1);
  --color-primary: var(--pink1);
  --color-primary-hover: var(--pink2);
  --color-secondary: var(--blue1);
  --color-secondary-hover: var(--blue2);
  --color-accent: var(--pink3);
}
